@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-esqueleto: #EFF3F5;
    --blue: #0b3961;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    --transition-time: 0.5s;
    font-family: 'Poppins', sans-serif;
}

#Inicio {
    background-image: linear-gradient(rgba(0, 5, 27, 0.815), rgba(1, 0, 37, 0.5)), url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}


header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
}

.move_content {
    bottom: 5rem;
}


.container__header {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 5rem;
}

.container__nav {
    position: relative;
    height: 100%;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a {
    color: #fff;
    font-size: 1rem;
}

.nav_mod {
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #fff;
}

.nav_mod a {
    color: #373737;
}

.nav_mod .select {
    color: white;
}



/* Adjustments for smaller screens */
@media screen and (max-width: 760px) {
    .nav_fixed {
        position: fixed;
    }
}


.select {
    background: var(--blue);
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.btn__menu {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 300ms;
    display: none;
    color: #fff;
}

.btn__menu:hover {
    background: #f5f5f5;
}

/*COVER*/

.cover {
    width: 100%;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    
}


.container__cover {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
}


.cover .container__info {
    max-width: 500px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1 {
    max-width: 400px;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

.cover h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #1d89e7;
    margin-top: -30px;
}

.cover p {
    margin-top: 10px;
    color: #fff;
}

.blink-1{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    color: white;
    background: var(--blue);
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
    -webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-18 21:41:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  



.container__vector {
    position: relative;
}

.container__vector img {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 600px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
}

/* Estilos para la sección Nosotros */

.nosotros {
    padding: 50px 0;
    color: #0b3961;
}

.container__nosotros {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nosotros__content {
    max-width: 100%;
    text-align: center;
    opacity: 1;
    /* Change this to 1 */
}

.nosotros__content h1 {
    color: var(--blue);
    font-size: 3rem;
}

.nosotros__content p {
    font-size: 2rem;
    color: #666;
    margin-bottom: 15px;
}




@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

/* Estilos para el h1 en la sección de servicios */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    /* Ajusta el espaciado según sea necesario */
    margin-top: 2rem;
}

.info .service {
    /* Utiliza la fuente Poppins (puedes cambiarla según tus preferencias) */
    font-size: 3rem;
    /* Tamaño de fuente grande para un aspecto moderno */
    font-weight: 700;
    /* Grosor de la fuente, puedes ajustar según tu preferencia */
    color: var(--blue);
    /* Color del texto, puedes ajustar según tu paleta de colores */
    margin-bottom: 20px;
    /* Espaciado inferior para separar el título de otros elementos */
}

.info h1 {
    color: var(--blue);
    font-size: 3rem !important;
    font-weight: bold !important;
}


a {
    color: inherit;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
}

.card {
    font-size: 'O';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5rem;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.78em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: var(--blue);
    width: 200%;
    height: 200%;
}



.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



/*AQUI COMIENZA EL FOOTER*/

footer {
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-esqueleto);
    background-size: cover;
    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2 {
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}




/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .info {
        justify-content: center;
    }

    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }

    .info h1 {
        margin: 0;
    }
}

@keyframes move_vector {
    0% {
        transform: translateY(10px);
    }

    25% {
        transform: translateY(-9px);
    }

    100% {
        transform: translateY(10px);
    }
}



@media screen and (max-width: 760px) {

    .container__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu{
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background: rgba(44, 124, 245, 0.9);
        padding: 20px;
        z-index: 101;
        transition: bottom 0.3s;
        visibility: hidden;
        opacity: 0;
        color: #fff;
    }
    
    .move_nav {
        bottom: 0;
        visibility: visible;
        opacity: 1;
    }
    
    .nav_mod {
        display: none; /* Add this line to hide the nav_mod on smaller screens */
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        /* Añadido margen superior para separar de la barra de navegación */
    }

    nav ul li {
        margin: 10px 0;
        /* Ajustado el margen de los elementos de la lista */
    }

    nav ul li a {
        color: #fff;
        font-size: 18px;
    }

    .container_all.move_content {
        bottom: 0;
    }

}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 768px) {
    .service {
        font-size: 2rem;
        /* Reduce el tamaño de fuente en dispositivos más pequeños */
    }
}

